*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #b90124 ;
}
.logo{
    position: relative;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    padding:5px;
    margin-left: -80px;
    
}

.navItems>a{
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: opacity .5s;
    text-decoration: none;
    margin: 20px;

}
.Navbar>.navItems>a:hover{
    opacity: .5;
}




@media screen and (max-width: 500px){

    .Navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .navItems>a{
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        color: white;
        transition: opacity .5s;
        text-decoration: none;
        margin: 20px;
    
    }
    .Navbar>.navItems>a:hover{
        opacity: .5;
    }
    
    .navItems{
        display: flex;
        flex-direction: column;
    }
}